.full-screen {
    min-height: 100vh;
}

.border {

    border: 2px solid;

    &--black {
        @extend .border;
        border-color: $black;
    }

}
.chat-box {
    padding: $fixMarge1;
    border: 2px solid $black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

