.form {

    border: 1px solid $black;
    padding-bottom: $marge2;

    &--title {
        border: 2px solid $black;
        padding: $marge1;
        display: inline-block;
        font-size: $title;
    }

    &--input-wrapper {
        padding: $fixMarge2 0;
        display: flex;
    }

    &--input {
        margin: 0 $fixMarge1;
        padding:  $fixMarge1 ;
    }
}
