.top-bar {

    display: flex;
    background-color: $lightBlue;
    justify-content: space-between;
    padding: $fixMarge2 $fixMarge3;

    &--logo {
        font-size: $subtitle;
        color: $white;
    }

    &--delimiter {
        width: 2px;
        height: 100%;
        background-color: white;
        display: block;
        margin: 0 5px;
    }

    &--nav {
        display: flex;
        align-items: center;
        &--items {
            color: $white;
            margin: 0 $fixMarge1;
        }

    }
}