.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--box {
        background-color: $white;
        padding: $marge1;
    }

    &--disable {
        display: none;
    }

}