.paragraph {
    font-family: $poppins;
    margin: $marge4 0;
    font-weight: $light;
}
.f-white {
    color: $white;
}
.f-green {
    color: green;
}
.f-red {
    color: red;
}
.f-orange {
    color: orange;
}
.txt {

    &--center {
        text-align: center;
    }
    
}